<?php
if (!empty($placeholder)) {
    $placeholder = e(trans($placeholder));
}
?>


<div class="form-group <?= $sizeClass ?>">
    <select class="form-control icones-finder"
            id="<?= $id; ?>"
            name="<?= $name; ?>"
    >
        <option value=""></option>
    </select>
</div>

<script>

    <?php if ($value != null): ?>
        var selected = {
            id: '<?= $value->id ?>',
            name: '<?= e($value->name) ?>',
            readable_name: '<?= $showName ? e($value->readable_name) : '' ?>',
            icon_set_name: '<?= $showIconSetName ? e($value->icon_set_name) : '' ?>',
            icon_set_id: '<?= $value->icon_set_id ?>',
            svg: <?= json_encode($value->toSVG($svgProps)) ?>,
            text: `<div class="select2-result-wrapper">
                        <div class="select2-result-icon">
                            <?= $value->toSVG($svgProps); ?>
                            <span class="select2-result-icon__name"><?= $showName ? e($value->readable_name) : '' ?></span>
                        </div>
                        <div class="select2-result-icon-icon-set--name"><?= $showIconSetName ? e($value->icon_set_name) : '' ?></div>
                </div>`
        };
    <?php endif; ?>

    function displayItem(icon) {
        return {
            id: icon.id,
            text: `<div class="select2-result-wrapper">
                        <div class="select2-result-icon">
                              ${icon.svg}
                              <span class="select2-result-icon__name">${icon.readable_name ?? ''}</span>
                        </div>
                        <div class="select2-result-icon-icon-set--name">${icon.icon_set_name ?? ''}</div>
                    </div>`
        };
    }

    var $select = $("#<?= $id; ?>");

    $select.select2({
        ajax: {
            url: '/icons',
            dataType: 'json',
            delay: 250,
            cache: true,
            data: function (params) {
                return {
                    search: params.term,
                    page: params.page || 1,
                    <?php if (count($iconSets) != 0): ?>
                        icon_sets: <?= json_encode($iconSets) ?>,
                    <?php endif; ?>

                    <?php if ($showName): ?>
                        show_icon_name: <?= $showName ?>,
                    <?php endif; ?>

                    <?php if ($showIconSetName): ?>
                        show_icon_set_name: <?= $showIconSetName ?>,
                    <?php endif; ?>

                    <?php if ($size != null) echo "size: '{$size}',"; ?>
                };
            },
            processResults: function (data) {
                return {
                    results: $.map(data.results, displayItem),
                    pagination: data.pagination,
                };
            },
        },
        escapeMarkup: function (markup) {
            return markup;
        },
        templateResult: function (item) {
            return $(item.text || item.name || '');
        },
        templateSelection: function (item) {
            return $(item.text || item.name || '');
        },
        placeholder: {
            id: '',
            text: '<?= !empty($placeholder) ? $placeholder : e(trans('chkilel.icones::lang.formwidgets.placeholder')) ?>',
        },
        allowClear: true,
        minimumInputLength: 2,
        width: 'style',
    });

    <?php if ($value != null): ?>
        var option = new Option(selected.readable_name || selected.name, selected.id, true, true);
        option.dataset.data = JSON.stringify(selected);
        $select.append(option).trigger('change');
        $select.trigger({
            type: 'select2:select',
            params: {
                data: selected
            }
        });
    <?php endif; ?>

    $select.on('select2:clear', function () {
        $(this).val('').trigger('change');
    });
</script>
